body {
  background: #f9f7fe;
}
.WeatherInfo {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 16px;
  color: rgb(135, 135, 135);
}
.container {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
}
.container form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.container .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.container .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.container .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.WeatherInfo h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 30px;
  color: #272142;
}
.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.WeatherInfo li strong {
  color: #f65282;
  font-weight: normal;
}

.WeatherInfo .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}
.WeatherInfo canvas {
  margin: 10px 0;
}
.WeatherInfo .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}
.temperature-container {
  margin-top: 40px;
}
.units {
  text-align: right;
}
.weather-forecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.weather-forecast-day {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.weather-forecast-temps {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #f65282;
  font-weight: bold;
}

.weather-forecast-temps .temp-min {
  margin-left: 10px;
  opacity: 0.6;
}

.Weather .weather-forecast img {
  display: block;
  margin: 20px auto;
}
footer {
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

